.sectionFixed{ min-width: 1200px;}  
                .sectionFixedWrapper{   width:  1200px; }   
                 @media (max-width: 1200px) 
                 {  .sectionFixedWrapper{   width:  1200px; }  } 
        
            .LsConstructorElement:not(i){
               font-family: OpenSans-Regular;  font-size: 16px; 
            } 
            .LsConstructorElement.textSmall:not(i){
               font-family: OpenSans-Regular;  font-size: 14px; 
            } 
            
            
            
                .LsConstructorElement[dtype="TEXT"]{ color: #333333; } 
           
            
              .LsConstructorElement[dtype="H"][header="H1"]{
               font-family: OpenSans-Bold;   font-size: 34px; color: #333333;
             } 
              .LsConstructorElement[dtype="H"][header="H2"]{
               font-family: OpenSans-Bold;   font-size: 27px; color: #333333;
            } 
            .LsConstructorElement[dtype="H"][header="H3"]{
               font-family: OpenSans-Bold;   font-size: 21px; color: #333333;
            } 
            
            
          
        #ffbbfbbfcafafcecceffbaacafadcbfdbbeeedfcccdb{position: relative; padding: 0px; margin: 0px;} #dbcfcffebaaabcddabcdfdcbdefaddadfeeacda{margin: 0px auto; z-index: 3; height: 900px;} #bfcbeecadfefbfdccdadadbcddedfacbeefeabcafddf{z-index: 10; position: absolute; top: -0.5px; left: 0.5px; width: 1199px; height: 901px;} #cbeadaceddefdbdcdfbeafdbfadddbddadaeecbffedff{width: 100%; height: 100%; display: block;} #ddbacfcafabfbdfbcecbdacbfddddadfecfecc{z-index: 11; width: 521px; overflow-wrap: break-word; box-sizing: content-box; position: absolute; top: 27px; left: 20px;} #bfcfcababbacbcdaebbedaacaafbdccbadfcdddabc{overflow: hidden; display: block; width: 521px;} #effabefdbfbfecbbdbacfbcdcdfaeabfffdeeaedbdbbd{width: 202px; height: 39px; z-index: 12; position: absolute; top: 146px; box-sizing: content-box; left: 91.2167px;} #acbaeffbcffcfaadbfbbcdacefeedebeedebaeca  > div.blockgr{ border-radius: 6px; display: none; }#acbaeffbcffcfaadbfbbcdacefeedebeedebaeca >  div.blockbg{background-color:  #eeeeee; border-radius: 6px;  }#acbaeffbcffcfaadbfbbcdacefeedebeedebaeca{width: 200px; height: 38px; display: flex; align-items: center; text-align: center; margin: 0px; padding: 0px; position: relative; overflow-wrap: break-word; box-sizing: content-box; z-index: 3; color: rgb(68, 68, 68); border: 1px solid rgb(204, 204, 204); border-radius: 6px; font-size: 20px; cursor: pointer;} #ccfabfcdeebcddcbefbcadcfdcaafbbdded{position: relative; padding: 0px; margin: 0px;} #cfaeadffcbffaddedbcaabbcaabcdceeaeeabaaea{margin: 0px auto; z-index: 3; height: 900px;} #ddeceaadcdefadacbbaecdbcdfcfaeedffacc{z-index: 11; position: absolute; top: 63px; left: 0px; width: 1200px; height: 750px;} #aceecbcccaefabcbefcbcbaeadfcffcaebe{width: 100%; height: 100%; display: block;} #techContainer{height: 700px;} #masterContainer{height: 700px;} 